{% extends 'base.html.twig' %}

{% block title %}Exame index{% endblock %}

{% block body %}
    <h1>Exame index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ExameId</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Local</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exame in exames %}
            <tr>
                <td>{{ exame.exameId }}</td>
                <td>{{ exame.nome }}</td>
                <td>{{ exame.data }}</td>
                <td>{{ exame.local }}</td>
                <td>
                    <a href="{{ path('exame_show', {'exameId': exame.exameId}) }}">show</a>
                    <a href="{{ path('exame_edit', {'exameId': exame.exameId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('exame_new') }}">Create new</a>
{% endblock %}
