{% extends 'base.html.twig' %}

{% block title %}Idoso{% endblock %}

{% block body %}
    <h1>Idoso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdosoId</th>
                <td>{{ idoso.idosoId }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ idoso.nome }}</td>
            </tr>
            <tr>
                <th>Cpf</th>
                <td>{{ idoso.cpf }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ idoso.email }}</td>
            </tr>
            <tr>
                <th>DataNascimento</th>
                <td>{{ idoso.dataNascimento ? idoso.dataNascimento|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ idoso.endereco }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('idoso_index') }}">back to list</a>

    <a href="{{ path('idoso_edit', {'idosoId': idoso.idosoId}) }}">edit</a>

    {{ include('idoso/_delete_form.html.twig') }}
{% endblock %}
