{% extends 'base.html.twig' %}

{% block title %}Medicamento{% endblock %}

{% block body %}
    <h1>Medicamento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>MedicamentoId</th>
                <td>{{ medicamento.medicamentoId }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ medicamento.nome }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ medicamento.quantidade }}</td>
            </tr>
            <tr>
                <th>Dosagem</th>
                <td>{{ medicamento.dosagem }}</td>
            </tr>
            <tr>
                <th>DataInicio</th>
                <td>{{ medicamento.dataInicio ? medicamento.dataInicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DataFim</th>
                <td>{{ medicamento.dataFim ? medicamento.dataFim|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Horario</th>
                <td>{{ medicamento.horario }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medicamento_index') }}">back to list</a>

    <a href="{{ path('medicamento_edit', {'medicamentoId': medicamento.medicamentoId}) }}">edit</a>

    {{ include('medicamento/_delete_form.html.twig') }}
{% endblock %}
