{% extends 'base.html.twig' %}

{% block title %}Cuidador index{% endblock %}

{% block body %}
    <h1>Cuidador index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CuidadorId</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Email</th>
                <th>DataNascimento</th>
                <th>Certificacao</th>
                <th>Foto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cuidador in cuidadors %}
            <tr>
                <td>{{ cuidador.cuidadorId }}</td>
                <td>{{ cuidador.nome }}</td>
                <td>{{ cuidador.cpf }}</td>
                <td>{{ cuidador.email }}</td>
                <td>{{ cuidador.dataNascimento }}</td>
                <td>{{ cuidador.certificacao }}</td>
                <td>{{ cuidador.foto }}</td>
                <td>
                    <a href="{{ path('cuidador_show', {'cuidadorId': cuidador.cuidadorId}) }}">show</a>
                    <a href="{{ path('cuidador_edit', {'cuidadorId': cuidador.cuidadorId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cuidador_new') }}">Create new</a>
{% endblock %}
